body {
    background-image: url(https://i.pinimg.com/originals/f8/46/84/f846842811b2d15e632db6fda339eae8.png);
    background-repeat: no-repeat;
    background-color: #000;
    background-size: cover;
}

.container {
    margin-top: 30vh;
    max-width: 400px;
    min-width: 366px;
}

.drum-pad {
    width: 80px;
}

.range {
    width: 300px;
}